@use './variables';

.contact{
    width: 500px;
    margin: 100px auto;
    margin-bottom: 443.5px;
    padding: 20px 50px;
    border: solid 1px variables.$nav-color;
    border-radius: 10px;
    h2{
        padding: 20px 0;
        text-align: center;
    }
    p{
        text-align: center;
        padding-bottom: 50px;
    }
}