$nav-color: #0e3352;
$nav-hover:#0a2b46;
$bg-color: #222222;
$white: #ffffff;
$html-color: #e34b21;
$css-color: #0076bc;
$js-color: #efda4d;
$node-color:#221c20;
$mongo-color:#3b291f;
$react-color: #61dbfb;
$anguler-dark-color:#a6120d;
$anguler-light-color:#dd1b16;
$vue-light-color:#42b883;
$vue-dark-color:#35495e;